.contacts-form7 {
  & form {
    & p {
      margin: 0;
    }

    & label {
      display: block;
      margin-bottom: 20px;

      & span:not(.wpcf7-form-control-wrap) {
        display: block;
        margin-bottom: 4px;
      }
    }

    & textarea,
    & input[type="email"],
    & input[type="tel"],
    & input[type="text"] {
      -webkit-appearance: none;
      display: block;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 12px 14px;
      box-sizing: border-box;
      color: var(--color-black);
      background-color: var(--color-white);
      font-family: "Raleway", sans-serif;
      font-size: 18px;
      font-weight: 500;
      border: 1px solid #ccc;
      border-radius: 7px;
      outline: none;

      &:focus {
        border-color: var(--color-black);
      }
    }

    & input::file-selector-button {
      padding: 10px;
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: normal;
      border: none;
      border-radius: 5px;
      color: var(--color-white);
      background-color: var(--color-violet-light);
      cursor: pointer;
    }
  }

  .wpcf7-response-output {
    display: block;
    margin: 20px 0 0!important;
    padding: 12px 20px!important;
    box-sizing: border-box;
    background-color: rgba(192, 111, 148, 0.17);
    color: var(--color-violet-light);
    border: none!important;
    border-radius: 50px;
  }
}

.contacts-form7__google-disclaimer {
  padding-top: 16px;
  font-size: 14px;
  color: var(--color-gray);

  & a {
    color: inherit;
  }
}
