.footer {
  padding: 20px 0;
  background-color: var(--color-white);
}

.footer__logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: inherit;
  text-decoration: none;
  margin-bottom: 12px;

  @media (min-width: 1280px) {
    margin-bottom: 60px;
  }

  & svg {
    display: block;
    width: 56px;
    height: 52px;
  }
}

.footer__cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  row-gap: 20px;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
  }

  @media (min-width: 1280px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.footer__col:first-child,
.footer__col:nth-child(4),
.footer__col:nth-child(5),
.footer__col:nth-child(6) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.footer__col:nth-child(5) {
  @media (min-width: 768px) {
    grid-column-start: 3;
    grid-column-end: 5;
  }
}

.footer__col:nth-child(6) {
  @media (min-width: 768px) {
    grid-column-start: 1;
    grid-column-end: 5;
  }

  @media (min-width: 1280px) {
    grid-column-end: 6;
  }
}

.footer__col:nth-child(4),
.footer__col:nth-child(6) {
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.footer__col:nth-child(4) {
  @media (min-width: 768px) {
    padding-top: 0;
    border-top: none;
  }
}

.footer__col:first-child,
.footer__col:nth-child(2),
.footer__col:nth-child(3),
.footer__col:nth-child(4),
.footer__col:nth-child(5) {

  @media (min-width: 1280px) {
    grid-column-start: auto;
    grid-column-end: auto;
    padding-top: 0;
    border-top: none;
  }
}

.footer__nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__nav li {
  margin-bottom: 14px;
}

.footer__nav li a,
.footer__nav-link {
  text-decoration: none;
  color: var(--color-black);
  line-height: 1.2;

  @media (hover: hover) {
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--color-violet-light);
    }
  }
}

.footer__address {
  line-height: 1.9;
}

.footer__city {
  color: var(--color-gray);
}

.footer__copy {
  color: var(--color-gray);

  & span {
    display: block;
  }
}

.footer__copy-note {
  display: block;
  padding-top: 12px;
  font-size: 10px;

  @media (min-width: 1280px) {
    font-size: 12px;
  }

  & a {
    color: inherit;

    &:hover {
      color: var(--color-violet-light);
    }
  }
}

.footer__address-email {
  font-size: 16px;
  color: var(--color-gray-dark);
}

.footer__address-instagram {
  display: inline-flex;
  align-items: center;
  column-gap: 6px;
  margin-top: 6px;
  font-size: 16px;
  color: var(--color-gray-dark);
  text-decoration: none;

  & svg {
    display: block;
    width: 16px;
    height: 16px;
    fill: var(--color-gray-dark);
    transition: fill 0.4s ease;
  }

  @media (hover: hover) {
    transition: all 0.4s ease;

    &:hover {
      color: var(--color-violet-light);

      & svg {
        fill: var(--color-violet-light);
      }
    }
  }

}
