.not-found {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}

.not-found__img {
  display: block;
  width: 100%;
  max-width: 700px;
  margin: 0 auto 60px;
}

.not-found__content {
  text-align: center;

  & h4 {
    margin: 0 0 24px;
  }

  & p {
    margin: 0 0 32px;
    color: var(--color-gray);
  }
}
