.seo-description {
  margin-bottom: 24px;

  @media (min-width: 768px) {
    margin-bottom: 40px;
  }

  @media (min-width: 1024px) {
    margin-bottom: 28px;
  }
}

.seo-description__content {
  padding: 16px 20px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 12px;
  background-color: var(--color-white);

  h2 {
    margin: 0 0 16px;
    font-size: 18px;
    font-weight: 500;
  }

  h3 {
    margin: 0 0 16px;
    font-size: 16px;
    font-weight: 500;
  }

  h4 {
    margin: 0 0 16px;
    font-size: 14px;
    font-weight: 500;
  }

  a {
    color: var(--color-violet-light);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.seo-description__content ul,
.seo-description__content ol,
.seo-description__content p {
  margin: 0 0 16px;

  &:last-child {
    margin-bottom: 0;
  }
}
