.up-button {
  position: fixed;
  bottom: 92px;
  right: 20px;
  -webkit-appearance: none;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  margin: 0;
  padding: 0;
  font-size: 0;
  background-color: var(--color-violet-light);
  border: none;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  transform: translateX(200px);

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-white);

      & svg {
        line,
        polyline {
          stroke: var(--color-violet-light);
        }
      }
    }
  }

  & svg {
    display: block;
    width: 32px;
    height: 32px;
  }
}

.up-button--active {
  transform: translateX(0);
}
